.carousel {
  display: flex;
  overflow-x: auto;
  gap: 24px;
  padding: 24px 0;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: visible;
  }
}

.spacer {
  flex-shrink: 0;
  width: 16px;
}

@media (min-width: 1024px) {
  .spacer {
    display: none;
  }
}